* {
  box-sizing:border-box;
}

body {
  width:100%;
  background:#2D001C;
  margin:0;
  padding:0;
  color:#2D001C;
}

a {
  color:#52143B;
}

a:hover {
  color:#A1116B;
}

h1,h2,h3,h4,h5,h6 {
  color:#52143B;
}

.container {
  width:100%;
  background:#FFF;
  margin:0 auto;
  background:url("/static/img/header.jpg") no-repeat fixed;
}

.row {
  max-width:100%;
}

#content {
  padding:25px;
  min-height:500px;
  box-shadow:#999 0 0 5px 0;
  border-left:#CCC solid 1px;
  border-right:#CCC solid 1px;
  background:#FFF;

}

.inner, footer {
  padding:25px;
}

.row {
  max-width:100%;
}

/* Header section */

header {
  color:#FFF;
  padding:0;
  width:100%;
  min-height:100px;
  background-size:100%;
  overflow:auto;
  padding-top:30px;
}

.top-bar {
  background:#111;
  opacity:0.3;
  transition:all 500ms;
  height:30px;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}

.top-bar.scrolled, .top-bar.scrolled:hover {
  opacity:0.95;
}

.top-bar:hover {
  opacity:0.8;
}

.title-area {
  height:30px;
}

nav.top-bar.expanded {
  background:#111;
}

nav.top-bar.expanded .title-area {
  background:transparent;
}

.top-bar a, .top-bar-section li:not(.has-form) a:not(.button) {
  font-size:12px;
  line-height:14px;
  padding:8px 15px;
  display:block;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background:#111;
}

header a {
  color:#FFF;
  text-decoration:none;
  padding:0;
}

header li:hover a, header #nav li:hover a {
  background:#491235;
  color:#FFF;
}

#logo {
  max-height:100px;
  padding:15px;
  float:left;
}

#title {
  font-size:48px;
  margin:20px 0;
  color:#FFF;
  line-height:32px;
  text-shadow:#491235 0px 0px 10px;
  float:left;
}

#title small {
  color:#FFF;
  font-size:24px;
}

/* Sidebar */
#sidebar {
  padding:25px 10px;
}
#sidebar ul {
  margin:0;
}

#sidebar li {
  width:100%;
  list-style-type:none;
}

#sidebar li a {
  padding:10px 25px;
  color:#2D001C;
  font-weight:bold;
  border:none;
  display:block;
  box-shadow:#2D001C 2px 2px 5px -2px;
  background:#FFF;
  margin:10px 5px;
  transition:all 250ms;
}

#sidebar li a:hover {
  color:#FFF;
  background:#A1116B;
}

/* Footer */

footer {
  background:#2D001C;
  color:#FFF;
}

/* Index and stories */

#story-list {
  margin:0;
  padding:0;
}

#story-list .story {
  list-style:none;
  width:100%;
  margin-bottom:10px;
}

#story-list .story-content {
  background:#EEE;
  padding:25px;
}

.button {
  background:#A1116B;
  border-color:#52143B;
}

.button:hover, .button:focus {
  background:#2D001C;
}

.comments {
  margin-left:0;
}

.comments .comments {
  margin-left:25px;
}

.comments .comment-header {
  background:#52143B;
  color:#FFF;
  padding:2px 5px;
}

.comments .comment-header a {
  float:right;
  color:#FFF;
  padding:0 5px;
}

.comments .comment-content {
  background:#EEE;
  padding:10px;
  margin-bottom:25px;
  overflow:auto;
}

.comment-content .button {
  float:right;
}

.comments li {
  list-style-type:none;
}

/* Add story/editor section */
#editor-wrapper {
  box-shadow: #CCC 0px 0px 10px 0px;
  border:#CCC solid 1px;
  margin:25px 0;
}

#editor-wrapper #formatting-container {
  border-bottom:#CCC solid 1px;
}

#editor {
  min-height:400px;
}
