* {
  box-sizing:border-box;
}

body {
  width:100%;
  background:#CCC;
  margin:0;
  padding:0;
}

.container {
  width:100%;
  max-width:1000px;
  background:#FFF;
  margin:0 auto;
}

.inner, footer {
  padding:25px;
}

/* Header section */

header {
  color:#FFF;
  padding:0;
  background:#333;
}

header a {
  color:#FFF;
  text-decoration:none;
  padding:0 10px;
}

header a:hover {
  background:#000;
}

header #logo {
  overflow:hidden;
  float:left;
}

header #logo:hover {
  background:#000;
}

header #search {
  max-width:100%;
  overflow:hidden;
  padding:5px 25px 0 25px;
}

header #search input {
  width:100%;
}

header #nav {
  float:right;
  padding:10px 0;
  margin:0;
}

header ul li {
  float:left;
  list-style:none;
}

/* Footer */

footer {
  background:#000;
  color:#FFF;
}

/* Index and stories */

#story-list {
  margin:0;
  padding:0;
}

#story-list .story {
  list-style:none;
  width:100%;
  margin-bottom:10px;
}

#story-list .story-content {
  background:#DDD;
  padding:25px;
}
