{% if comments is defined %}
  <ul class="comments">
    {% for comment in comments %}
      <li>
        {{ comment.body|safe }}
        <br>
        <a href="/users/{{ comment.author.name }}/">{{ comment.author.name }}</a>
        <a class="reply-btn">Reply</a>
        <br>
        Comment id: {{ comment.id }}

        {# 
          Fuck this section of code. It is the devil, and with it I shall burn!
        #}
        {% if comment.comments is defined %}
          {% with comments = comment.comments %}
            {% include 'comments.html' %}
          {% endwith %}
        {% endif %}
        {#
          End this horrible section of code
        #}
      </li>
    {% endfor %}
  </ul>
{% endif %}
