{% macro show_comments(comments, story) %}
  <ul class="comments">
    {% for comment in comments|sort(attribute='score', reverse=True) %}
      <li>
        {{ comment.body|safe }}
        <br>
        <a href="/users/{{ comment.author.name }}/">{{ comment.author.name }}</a>
        <a class="reply-btn">Reply</a>
        <br>
        Comment id: {{ comment.id }}
        
        Score: {{ comment.score }}
        <form action="/stories/{{ story.id }}/upvote/" method="POST">
          <label>
            Username:
            <input type="text" name="author" />
          </label>
          <input type="hidden" name="comment" value="{{comment.id}}" />
          <input class="button" type="submit" value="Upvote" />
        </form>

        {% if comment.comments is defined %}
          {{ show_comments(comment.comments, story) }}
        {% endif %}

      </li>
    {% endfor %}
  </ul>
{% endmacro %}
