<header>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li><a href="/">Stories DB</a></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>

    </ul>
    <section class="top-bar-section">
      <ul id="nav" class="right">
        <li><a href="/">Home</a></li>
        <li><a href="/stories/">Stories</a></li>
        <li><a href="/add_story/">Add a story</a></li>
      </ul>
    </section>
  </nav>
  <img src="/static/img/logo-wire.png" id="logo" />
  <h1 id="title">
    Stories<br>
    <small>Getting more done after 2 AM...</small>
  </h1>
</header>
