<!doctype html>
<html>
  <head>
    <title>Stories</title>
    <link rel="stylesheet" href="/static/css/foundation.css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/quill.snow.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/quill.min.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body>
    <div class="container">
      {% include 'header.html' %}
      <div class="row">
        <div id="content" class="small-12 medium-8 large-9 columns large-offset-1 medium-offset-1">
          {% block body %}{% endblock %}
        </div>
        <div id="sidebar" class="small-0 medium-3 large-2 columns hide-for-small-only">
          {% include 'sidebar.html' %}
        </div>
      </div>
      {% include 'footer.html' %}
    </div>
    
    <!-- Scripts -->
    <script src="/static/js/foundation.min.js"></script>
    <script>
    $(document).foundation();
    </script>
  </body>
</html>
